<div id="content sortable-grid ui-sortable">
    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-collapsed="true">
        <header>
            <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
            <h2>Filtro</h2>
        </header>
        <div>
            <div class="widget-body">
                        {{ form_start(formFiltro, {'attr': {'class': 'form-horizontal'} }) }}
                        <div class="form-group form-group-sm">
                            <label class="col-sm-1 control-label">GUIA:</label>
                            <div class="col-sm-4">
                                {{ form_widget(formFiltro.guiaRelnumero, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <label class="col-sm-1 control-label">Tipo:</label>
                            <div class="col-sm-4">
                                {{ form_widget(formFiltro.codigoNovedadTipoFk, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        {{ form_end(formFiltro) }}
                </div>
            </div>
        </div>
    </div>