<table width="100%" class="table table-condensed table-bordered tabla-informacion">
    <tr>
        <td class="titulo">CODIGO:</td>
        <td class="td-in-well">{{ arCierre.codigoCierrePk }}</td>
        <td class="titulo">ANIO:</td>
        <td class="td-in-well">{{ arCierre.anio }}</td>
        <td class="titulo">MES:</td>
        <td align="right">{{ arCierre.mes }}</td>
    </tr>
    <tr>
        <td class="titulo">COMENTARIO:</td>
        <td class="td-in-well" colspan="5" colspan="5">{{ arCierre.comentario }}</td>
    </tr>
</table>