{% extends 'base.html.twig' %}
{% block content %}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm"
               href="{{ path('recursohumano_administracion_general_cargo_lista') }}">Volver</a> &nbsp;&nbsp;
        </div>
    </div>
    <br><br>
    <table width="100%" class="table table-condensed table-bordered tabla-informacion">
        <tbody><tr>
            <td class="titulo">ID:</td>
            <td class="td-in-well">{{ arCargo.codigoCargoPk }}</td>
            <td class="titulo">INGRESO:</td>
            <td class="td-in-well">{{ arCargo.nombre }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
