{% extends 'base.html.twig' %}
{% block content %}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('recursohumano_administracion_dotacion_dotacionelemento_lista') }}">Volver</a>&nbsp;&nbsp;
        </div>
    </div>
    <br/><br/>
    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false" data-widget-fullscreenbutton="true">
        <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Información de la dotación</h2>
        </header>
        <div>
            <div class="widget-body no-padding">
                <table width="100%" class="table table-condensed table-bordered">
                    <tr>
                        <td class="titulo">Código:</td>
                        <td class="td-in-well">{{ arDotacionElemento.codigoDotacionElementoPk }}</td>
                        <td class="titulo">Nombre:</td>
                        <td class="td-in-well">{{ arDotacionElemento.nombre }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
