{{ form_start(formFiltro, {'attr': {'class': 'form-horizontal'} }) }}
<div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false"
     data-widget-fullscreenbutton="true">
    <header>
        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
        <h2>Lista</h2>
    </header>
    <div>
        <div class="widget-body no-padding">
            {{ form_start(formFiltro, {'attr': {'class': 'form-horizontal'} }) }}
{#            {% include 'estructura/buscarEmpleadoRecursohumano.html.twig' %}#}
            <div class="form-group form-group-sm">
                <label for="form_TxtCodigo" class="control-label col-sm-1">Nombre:</label>
                <div class="col-sm-5">
                    {{ form_widget(formFiltro.nombre, { 'attr': {'class': 'form-control'} }) }}
                </div>
            {{ form_end(formFiltro) }}
        </div>
    </div>
</div>