{% extends 'base_sin_menu.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            Cargar archivo
        </div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="form_txtCliente" class="col-sm-1 control-label"></label>
                <div class="col-sm-4">

                </div>
                <div class="col-sm-2">
                    {{ form_widget(form.attachment) }}
                </div>
            </div>
        </div>
    </div>
    <div class="btn-toolbar" style="float: right">
        {{ form_widget(form.btnCargar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    <br/><br/>
    {{ form_end(form) }}
{% endblock %}
