<div class="col-lg-offset-1 col-lg-10" style="margin-bottom: 1%">
    <div class="input-group" style="margin-left: 10%; margin-right: 40%">
        {#<input id="form_buscarAmigos" class="form-control">#}
        {{ form_widget(formBusqueda.busqueda) }}
        <span class="input-group-btn">
            {{ form_widget(formBusqueda.btnBuscar) }}
        </span>
    </div>
</div>
{#{% block javascript %}#}
{#{{ parent() }}#}
{#<script>#}
{#function buscar(){#}
    {#var value= $("#form_buscarAmigos").value();#}
    {#document.getElementById('#buscar').setAttribute('href',"{{ path('social_buscar_general',{'clave':value}) }}");#}
{#}#}
{#</script>#}
{#{% endblock %}#}