{% extends 'base_recursoHumano.html.twig' %}
{% block content %}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('recursohumano_movimiento_embargo_embargo_lista') }}">Volver</a>&nbsp;&nbsp;
        </div>
    </div>
    <br/><br/>
    <table width="100%" class="table table-condensed table-bordered">
        <tr>
            <td class="titulo">CODIGO:</td>
            <td class="td-in-well">{{ arEmbargo.codigoEmbargoPk }}</td>
            <td class="titulo">FECHA:</td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arEmbargo.fecha | date('') }}</td>
        </tr>
    </table>
{% endblock %}
