.foto_perfil{
    width: 54px;
    height: 50px;
    align-self: flex-start;
    cursor: pointer;
}

.foto_perfil_subir{
    display: none;
}



.fondo{
    position: relative;
    overflow: hidden;
    width: 100%;
}

.user{
    width: 170px;
    /*border: 1px solid #E9EBEE;*/
    display: flex;
    justify-content: space-between;
}

.user img{
    width: 35px;
}

.botonAmigos{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 3%;
}

.amigoDescripcion{
    flex: 1;
}