{% extends 'base_inventario.html.twig' %}
{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">Filtros de búsqueda
        </div>
        <div class="panel-body">
        </div>
    </div>
    {{ form_start(form) }}
    {% set route = app.request.attributes.get('_route') %}
    {{ render(controller('App\\Controller\\General\\FuncionesGeneralesController::generarLista', {'arRegistros' : arItems,'form' : form,'ruta' : app.request.attributes.get('_route') })) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}

