{% extends 'base_recursoHumano.html.twig' %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Información general
        </div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="" class="control-label col-sm-2"></label>
                <div class="col-sm-4">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="btn-group">
            <a class="btn btn-sm btn-default" href="{{ path('recursohumano_movimiento_nomina_adicional_lista') }}">Cancelar</a>
        </div>
    </div>
{% endblock %}