<div id="content sortable-grid ui-sortable">
    <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-collapsed="true">
        <header role="heading" class="ui-sortable-handle">
            <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
            <h2>Filtro</h2>
        </header>
        <div>
            <div class="widget-body">
                {{ form_start(formFiltro, {'attr': {'class': 'form-horizontal'} }) }}
                <div class="form-group form-group-sm">
                    <label for="form_nombreCorto" class="col-sm-1 control-label">Nombre:</label>
                    <div class="col-sm-2">
                        {{ form_widget(formFiltro.nombreCorto) }}
                    </div>
                </div>

                {{ form_end(formFiltro) }}
            </div>
        </div>
    </div>
</div>