{% extends 'base_sin_menu.html.twig' %}
{% block content %}
    <div class="panel panel-body">
        <div class="panel-heading">Información general</div>
        <div class="panel-body"></div>
    </div>
{% endblock %}