<table width="100%" class="table table-condensed table-bordered tabla-informacion">
    <tr>
        <td class="titulo">CODIGO:</td>
        <td class="td-in-well">{{ arAplicacion.codigoAplicacionPk }}</td>
        <td class="titulo"></td>
        <td class="td-in-well" style="text-transform: uppercase;"></td>
        <td class="titulo">VR APLICACION:</td>
        <td align="right">{{ arAplicacion.vrAplicacion | number_format(0, '.', ',') }}</td>
    </tr>

</table>