Options -Indexes
<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{HTTP:Authorization} ^(.*)
  RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
  RewriteRule ^(assets|bundles|assets/vendor) - [L]
  RewriteRule ^(.*) index.php
</IfModule>