{% extends 'base.html.twig' %}
{% block content %}
    {% include (modulo~'/'~funcion~'/'~entidad~'/filtro.html.twig') %}
    <div class="table-responsive" style="padding:0px;">
        {% include 'estructura/movimiento/tablaGeneral.html.twig' %}
    </div>
