{% extends 'base.html.twig' %}
{% block content %}

    {% include ('transporte/movimiento/transporte/despacho/filtro.html.twig') %}
        <div class="table-responsive" style="padding:0px;">
            {% include 'estructura/movimiento/tablaGeneral.html.twig' %}
            {{ form_start(formBotonera) }}
            {% include ('estructura/movimiento/botoneraGeneral.html.twig') %}
            {{ form_end(formBotonera) }}
        </div>
{% endblock %}