{% extends 'base.html.twig' %}
{% block content %}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm"
               href="{{ path('inventario_administracion_compras_solicitudtipo_lista') }}">Volver</a> &nbsp;&nbsp;
        </div>
    </div>
    <br><br>
    <table width="100%" class="table table-condensed table-bordered tabla-informacion">
        <tbody>
        <tr>
            <td class="titulo">ID:</td>
            <td class="td-in-well">{{ arRegistro.codigoSolicitudTipoPk}}</td>
            <td class="titulo">NOMBRE:</td>
            <td class="td-in-well">{{ arRegistro.nombre }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}