<div class="btn-group" style="float: right">
    <a class="btn btn-sm btn-default" href="{{ path(arrDatosLista.ruta ~ '_nuevo',{'id':0}) }}">Nuevo</a>
    {{ form_widget(formBotonera.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
    {{ form_widget(formBotonera.btnEliminar) }}
</div>