<div class="btn-toolbar" style="float: right">
    <div class="btn-group">
        <a class="btn btn-sm btn-default" href="{{ path(arrDatosLista.ruta ~ '_nuevo',{'id':0}) }}">Nuevo</a>
    </div>
    <div class="btn-group">
        {{ form_widget(formBotonera.btnExcel, { 'attr': {'class': 'btn btn-default btn-sm', 'style':'float:right'} }) }}
    </div>
    <div class="btn-group">
        {{ form_widget(formBotonera.btnEliminar) }}
    </div>
</div>