<div class="form-group form-group-sm">
    {#<label for="txtCodigoConductor" class="col-sm-1 control-label">Origen:</label>#}
    <div class="col-sm-12">
        <div class="row">
            {#<div class="col-lg-2">#}
                {#<div class="input-group">#}
                    {##}
                {#</div>#}
            {#</div>#}
            <div class="col-lg-12">
                <div class="input-group">
                    {#{{ form_widget(formFiltro.txtNombreCorto) }}#}
                    {{ form_widget(formFiltro.codigoCiudadOrigenFk) }}
                    <span class="input-group-btn">
                        <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('transporte_bus_ciudad', {'campoNombre': 'form_txtNombreCorto' }) }}', 'buscarCliente', 600, 900)">Buscar</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>