<div class="table-responsive">
    <table class='table table-striped table-bordered table-hover'>
        {{ include('estructura/movimiento/encabezadoGeneral.html.twig', { 'arrCampos': arrDatosLista.campos }) }}
        {{ include('estructura/movimiento/detalleGeneral.html.twig', { 'arrDatosLista': arrDatosLista }) }}
    </table>
</div>
<div class="btn-group" style="float: left">
    <div class="btn-group" style="float: left">
        <div class="btn btn-default btn-sm">Registros <span class="badge">{{ arrDatosLista.arDatos.getTotalItemCount }}</span>
        </div>
    </div>
</div>

<div class="btn-group btn-xs" style="float: left;margin-left: 0px;padding-top: 0px;">
    {{ knp_pagination_render(arrDatosLista.arDatos) }}
</div>
