<table width="100%" class="table table-condensed table-bordered tabla-informacion">
    <tr>
        <td class="titulo"><b>CODIGO:</b></td>
        <td class="td-in-well">{{ arCuenta.codigoCuentaPk }}</td>
        <td class="titulo"></td>
        <td class="td-in-well"></td>
        <td class="titulo"><b>NOMBRE</b></td>
        <td class="td-in-well" style="text-transform: uppercase;">{{ arCuenta.nombre }}</td>
    </tr>
</table>