.pagination {
    margin: 0px 0;
}

table tr {
    font-size: 10px;
    padding: 2px;
}

table th {
    text-align: center;
}

.table tr {
    padding: 2px;
}

.table>thead>tr>td, .table>thead>tr>th {
    padding: 2px;
}

.table>tbody>tr>td, .table>tbody>tr>th {
    padding: 2px;
}

td.estado {
    text-align: center;
}

td.numero {
    text-align: right;
}

td.seleccion {
    text-align: center;
}