{% extends 'base_financiero.html.twig' %}
{% block content %}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('financiero_movimiento_contabilidad_asiento_lista') }}">Volver</a>&nbsp;&nbsp;
        </div>
    </div>
    <br/><br/>
    <table width="100%" class="table table-condensed table-bordered">
        <tr>
            <td class="titulo">CODIGO:</td>
            <td class="td-in-well">{{ arAsiento.codigoAsientoPk }}</td>
            <td class="titulo">FECHA:</td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arAsiento.fecha | date('') }}</td>
        </tr>
    </table>
{% endblock %}
