{% extends 'base_financiero.html.twig' %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">Filtro busqueda</div>
        <div class="panel-body">
    {{ form_start(formFiltro, {'attr': {'class': 'form-horizontal'} }) }}
    {{ form_end(formFiltro) }}

        </div>
    </div>
    {% include 'estructura/movimiento/tablaGeneral.html.twig' %}
    {{ form_start(formBotonera) }}
    {% include 'estructura/movimiento/botoneraGeneral.html.twig' %}
    {{ form_end(formBotonera) }}
{% endblock %}
