{% extends 'base.html.twig' %}
{% block content %}
    {% include('/comunidad/buscardor.html.twig') %}
    <div class="col-sm-12 col-md-12  col-lg-12" >
    {% include ('comunidad/publicacion.html.twig') %}
    </div>
{% endblock %}