{% extends 'base.html.twig' %}
{% block content %}
    <div>
        {{ form_start(formBusqueda) }}
        {% include ('comunidad/buscardor.html.twig') %}
        {{ form_end(formBusqueda) }}
        <div class="col-sm-12 col-md-12  col-lg-12" >
            {% include ('comunidad/publicacion.html.twig') %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function notificacionAmigos(){
            document.getElementById('notificacion_amigo').style.display='block';

        }
    </script>
{% endblock %}