{% extends 'base_inventario.html.twig' %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Regenerar inventario
        </div>
        <div class="panel-body">

        </div>
    </div>
{% endblock %}
