{% extends 'base.html.twig' %}
{% block content %}
    <div id="content">

        {% include 'compra/movimiento/egreso/filtro.html.twig' %}
        {{ form_end(formFiltro) }}
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1" data-widget-editbutton="false"
             data-widget-fullscreenbutton="true">
            <div class="table-responsive" style="padding:0px;">
                {{ form_start(formBotonera) }}
                {% include 'estructura/movimiento/tablaGeneral.html.twig' %}
                {% include 'estructura/movimiento/botoneraGeneral.html.twig' %}
                {{ form_end(formBotonera) }}
            </div>
        </div>
    </div>
{% endblock %}
