{% extends 'base.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-lg-8">

        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-bell fa-fw"></i> Guias pendientes</div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <i class="fa fa-comment fa-fw"></i> Despacho
                            <span class="pull-right text-muted small"><em>Cant:{{ arrResumenPendientes.despachar.cantidad }}</em>
                                    </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-comment fa-fw"></i> Entrega
                            <span class="pull-right text-muted small"><em>Cant:{{ arrResumenPendientes.entregar.cantidad }}</em>
                                    </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-comment fa-fw"></i> Cumplir
                            <span class="pull-right text-muted small"><em>Cant:{{ arrResumenPendientes.cumplir.cantidad }}</em>
                                    </span>
                        </a>
                    </div>
                    <!-- /.list-group -->

                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>
{% endblock %}
