{% extends 'base.html.twig' %}
{% block content %}
    <table class="table table-striped table-bordered table-hover tabla-datos">
        <thead>
        <tr>
            <th>ID</th>
            <th>PES</th>
            <th>ORI</th>
            <th>DES</th>
        </tr>
        </thead>
        <tbody>
        {% for arCosto in arCostos %}
            <tr>
                <td>{{ arCosto.codigoCostoPk }}</td>
                <td class="numero">{{ arCosto.vrPeso | number_format(0, '.', ',') }}</td>
                <td>{{ arCosto.ciududOrigen }}</td>
                <td>{{ arCosto.ciuduadDestino }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

