<table width="100%" class="table table-condensed table-bordered">
    <tr>
        <td class="titulo">CODIGO:</td>
        <td class="td-in-well">{{ arVista.codigoVistaPk }}</td>
        <td class="titulo">TIPO:</td>
        <td align="right">{{ arVista.codigoVistaTipoFk}}</td>
        <td class="titulo">FECHA:</td>
        <td class="td-in-well">{{ arVista.fecha |date("Y/m/d") }}</td>
    </tr>

    <tr>
        <td class="titulo">COMENTARIO:</td>
        <td class="td-in-well" colspan="5">{{ arVista.comentarios }}</td>
    </tr>
</table>