<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Cromo{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block body %}
        <ul>
            <li type="circle">Guias</li>            
            <li><a href="{{ path('logout') }}">Salir</a></li>            
        </ul> 
            {% block content %}

            {% endblock %}        
    {% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
