<nav>
    <ul>
        <li class="top-menu-invisible">
            <a href="{{ path('calendario_lista') }}"><i class="fa fa-lg fa-fw fa-calendar txt-color-color" style="color: white!important;"></i> <span
                        class="menu-item-parent">
                    Calendario</span></a>
        </li>
    </ul>
</nav>