<nav>
    <ul>
        <li class="top-menu-invisible">
            <a href="{{ path('documentacion_buscar') }}"><i class="fa fa-sm fa-fw fa-file txt-color-color" style="color: white!important;"></i> <span
                        class="menu-item-parent">
                    Documentación</span></a>
        </li>
    </ul>
</nav>