{% include('base_menu_inicio.html.twig') %}
<nav>
    <ul>
        <li>
            <a href="#"><i class="fa fa-cubes fa-fw"></i> Movimiento<span class="fa arrow"></span></a>
            <ul>
                <li>
                    <a href="#">Masivo <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('documental_movimiento_masivo_masivo_lista') }}">Masivo</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-cogs"></i> Configuracion<span class="fa arrow"></span></a>
            <ul>
                <li>
                    <a href="{{ path('documental_administracion_configuracion_configuracion_lista', {'id': 1}) }}">Configuracion</a>
                <li>

            </ul>
        </li>
    </ul>
</nav>
