{% include('base_menu_inicio.html.twig') %}
<nav>
    <ul>
        <li>
            <a href="#"><i class="fa fa-bars fa-fw"></i>
                <span class="menu-item-parent">Perfil</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li><a href="{{ path('social_perfil_ver') }}">Perfil</a></li>
            </ul>
    </ul>
</nav>