<nav>
    <ul>
        <li class="top-menu-invisible">
            <a href="{{ path('social_general_inicio') }}"><i class="fa fa-lg fa-fw fa-comment txt-color-color" style="color: white!important;"></i> <span
                        class="menu-item-parent">
                    Social</span></a>
        </li>
    </ul>
</nav>