<nav>
    <ul>
        <li class="top-menu-invisible">
            <a href="{{ path('blog_post') }}"><i class="fa fa-sm fa-fw fa-share-alt txt-color-color" style="color: white!important;"></i> <span
                        class="menu-item-parent">
                    Blog</span></a>
        </li>
    </ul>
</nav>