{% include('base_menu_inicio.html.twig') %}
<nav>
    <ul>
        <li>
            <a href="#"><i class="fa fa-book fa-fw"></i>
                <span class="menu-item-parent">Movimiento</span>
                <b class="collapse-sign">
                    <em class="fa fa-plus-square-o"></em>
                </b>
            </a>
            <ul>
                <li>
                    <a href="#">Contrato <span class="fa arrow"></span></a>
                    <ul>
                        <li>
                            {#<a href="{{ path('turno_administracion_cliente_cliente_lista') }}">Contrato</a>#}
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-bars fa-fw"></i>
                <span class="menu-item-parent">Administración</span>
                <b class="collapse-sign">
                    <em class="fa fa-plus-square-o"></em>
                </b>
            </a>
            <ul>
                <li>
                    <a href="#">Cliente <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('turno_administracion_cliente_cliente_lista') }}">Cliente</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">General <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('administracion_lista',{'modulo':'turno','entidad':'contratoTipo'}) }}">Contrato
                                tipo</a></li>
                    </ul>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>
            <a href="#"><i class="fa fa-cogs"></i>
                <span class="menu-item-parent">Configuracion</span>
                <b class="collapse-sign">
                    <em class="fa fa-plus-square-o"></em>
                </b>
            </a>
            <ul>
                <li>
                    <a href="{{ path('recursohumano_administracion_configuracion_configuracion_lista', {'id': 1}) }}">Configuracion</a>
                <li>

            </ul>
        </li>
    </ul>
</nav>