<nav>
    <ul>
        <li class="top-menu-invisible">
            <a href="{{ path('inicio') }}">
                <i class="fa fa-dashboard fa-fw txt-color-white"></i>
                <span class="menu-item-parent">Dashboard</span>
            </a>
        </li>
    </ul>
</nav>