{% include('base_menu_inicio.html.twig') %}
<nav>
    <ul>
        <li>
            <a href="#"><i class="fa fa-book fa-fw"></i>
                <span class="menu-item-parent">Movimiento</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Control <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('crm_movimiento_control_vista_lista') }}">Vista</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-bars fa-fw"></i>
                <span class="menu-item-parent">Administración</span>
                <span class="fa arrow"></span>
            </a>
            <ul>
                <li>
                    <a href="#">Control <span class="fa arrow"></span></a>
                    <ul>
                        <li><a href="{{ path('crm_administracion_control_vistatipo_lista')}}">Vista tipo
                                </a></li>

                    </ul>
                </li>

            </ul>
        </li>
    </ul>
</nav>