{% extends 'base_sin_menu.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">Información general</div>
        <div class="panel-body">
            <div class="form-group form-group-sm">
                <label for="form_mes" class="col-sm-2 control-label">Salario cesantia:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.vrSalarioCesantia) }}
                </div>
                <label for="form_mes" class="col-sm-2 control-label"></label>
                <div class="col-sm-4">

                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-sm'} }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
