{% extends 'base.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-lg-8">

        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Recogidas
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <i class="fa fa-comment fa-fw"></i> Pendientes
                            <span class="pull-right text-muted small"><em>{{ arrResumenRecogidas.pendientes }} recogidas</em>
                                    </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-twitter fa-fw"></i> Sin descargar
                            <span class="pull-right text-muted small"><em>{{ arrResumenRecogidas.sinDescargar }} recogidas</em>
                                    </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-money fa-fw"></i> Cumplidas
                            <span class="pull-right text-muted small"><em>{{ arrResumenRecogidas.descargadas }} recogidas</em>
                                    </span>
                        </a>
                    </div>
                    <!-- /.list-group -->
                    <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>
{% endblock %}
