{% extends 'base.html.twig' %}
{% block content %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <div class="row">
        <!-- /.col-lg-12 -->
    </div>
    <table width="100%" class="table table-condensed table-bordered">
        <tr>
            <td class="titulo"><b>CÓDIGO ZONA:</b></td>
            <td class="td-in-well">{{ arZona.codigoZonaPk }}</td>
            <td class="titulo"><b>TIPO IDENTIFICACION</b></td>
            <td class="td-in-well" style="text-transform: uppercase;">{{ arZona.nombre }}</td>
        </tr>
    </table>
    <a class="btn btn-default btn-sm" href="{{ path('transporte_administracion_guia_zona_lista') }}">Volver</a>

{% endblock %}
