{% extends 'base.html.twig' %}
{% block content %}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm"
               href="{{ path('recursohumano_administracion_seguridadsocial_sucursal_lista') }}">Volver</a>
        </div>
    </div>
    <br/><br/>
    <table width="100%" class="table table-condensed table-bordered tabla-informacion">
        <tbody>
        <tr>
            <td class="titulo">ID:</td>
            <td class="td-in-well">{{ arSucursal.codigoSucursalPk }}</td>
            <td class="titulo">CLIENTE:</td>
            <td class="td-in-well">{{ arSucursal.nombre|default("") }}</td>
            <td class="titulo">VALOR:</td>
            <td class="numero">{{ arSucursal.estadoActivo ? "SI":"NO" }}</td>
        </tbody>
    </table>

{% endblock %}
