<div class="form-group form-group-sm">
    <label for="form_txtNombreCorto" class="col-sm-1 ">Empleado:</label>
    <div class="col-sm-11">
        <div class="row">
            <div class="col-lg-2">
                <div class="input-group">
                    {{ form_widget(formFiltro.codigoEmpleadoFk) }}
                </div>
            </div>
            <div class="col-lg-10">
                <div class="input-group">
                    <input id="form_txtNombreCorto" class="form-control" readonly>
                    <span class="input-group-btn">
                        <a class="btn btn-default btn-sm" href="javascript:abrirVentana3('{{ path('recursohumano_buscar_empleado', { 'campoCodigo': 'form_codigoEmpleadoFk', 'campoNombre': 'form_txtNombreCorto' }) }}', 'buscarEmpleado', 600, 900)">Buscar</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>